profiles {
    local {
        workDir = "/mnt/DATA/Nextflow/work"
        process {
            executor = 'local'
            cpus = 1
            memory = "4 GB"

            // High CPU processes
            withLabel: high_cpu {
                cpus = 10
            }
            withLabel: low_cpu {
                cpus = 1
            }
        }
    }
}
