profiles {
    local {
        workDir        = "/mnt/SCRATCH/Nextflow/work"

        params {
            parent_indir              = "/mnt/DATA/data/"
            parent_outdir_preparation = "/mnt/SCRATCH/out/cellular_dynamics_paper/data-preparation/"
            parent_outdir_analysis    = "/mnt/SCRATCH/out/cellular_dynamics_paper/data-analysis/"
        }

        conda.enabled  = true
        conda.useMamba = true
        conda.cacheDir = "/mnt/SCRATCH/Nextflow/conda-cache"
    }

    cluster {
        workDir        = "/work/kl63sahy-monolayer/nextflow/work"

        conda.enabled  = true
        conda.useMamba = true
        conda.cacheDir = "/home/sc.uni-leipzig.de/kl63sahy/nextflow/conda-cache"

        params {
            parent_indir              = "/work/kl63sahy-monolayer/data/"
            parent_outdir_preparation = "/work/kl63sahy-monolayer/out/cellular_dynamics_paper/data-preparation/"
            parent_outdir_analysis    = "/work/kl63sahy-monolayer/out/cellular_dynamics_paper/data-analysis/"
        }

        process {
            executor      = "slurm"
            queue         = "paul"
            errorStrategy = "retry"
        }
    }
}
nextflow.enable.strict = true

params {
    test = false
}
