profiles {
    local {
        workDir        = "/data/nextflow/work"

        params {
            parent_indir              = "/data/nucleus_shape_experimental_data/"
            parent_outdir_preparation = "/data/nucleus_shape_experimental_data/out_prep/"
            parent_outdir_analysis    = "/data/nucleus_shape_experimental_data/out_analysis/"
        }

        conda.enabled  = true
        conda.useMamba = false
        conda.cacheDir = "/data/nextflow/conda-cache"
    }

    cluster {
        workDir        = "/work/kl63sahy-monolayer/nextflow/work"

        conda.enabled  = true
        conda.useMamba = true
        conda.cacheDir = "/home/sc.uni-leipzig.de/kl63sahy/nextflow/conda-cache"

        params {
            parent_indir              = "/work/kl63sahy-monolayer/data/"
            parent_outdir_preparation = "/work/kl63sahy-monolayer/out/cellular_dynamics_paper/data-preparation/"
            parent_outdir_analysis    = "/work/kl63sahy-monolayer/out/cellular_dynamics_paper/data-analysis/"
        }

        process {
            executor      = "slurm"
            queue         = "paul"
            errorStrategy = "retry"
        }
    }


    umbrella {
        workDir        = "/scratch-shared/20235660/nextflow/work"

        conda.enabled  = true
        conda.useMamba = true
        conda.cacheDir = "/home/20235660/.nextflow-conda-cache"

        params {
            parent_indir              = "/scratch-shared/20235660/nucleus_shape_experimental_data/"
            parent_outdir_preparation = "/scratch-shared/20235660/nucleus_shape_experimental_data/out_prep/"
            parent_outdir_analysis    = "/scratch-shared/20235660/nucleus_shape_experimental_data/out_analysis/"
        }

        process {
            beforeScript = '''
                module purge
                module load CUDA/12.1.1 cuDNN/8.9.2.26-CUDA-12.1.1
                unset PYTHONPATH
            '''
        }
    }
}
nextflow.enable.strict = true

params {
    test = false
}
